* {
  font-family: "Acme", "Kosugi Maru", sans-serif;

  /*   border: solid 1px red; */
}
.container {
  padding-top: 80px;
}
.carousel-inner {
  font-size: 20px;
}
.carousel-inner h3 {
  font-size: 26px;
}
hr.style-one {
  /*透明渐变水平线*/
  width: 100%;
  margin: 0 auto;
  border: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(122, 157, 194, 0.75),
    rgba(0, 0, 0, 0)
  );
}
hr.style-two {
  /*渐变*/
  width: 100%;
  margin: 0 auto;
  border: 0;
  height: 4px;
  background: #d19ee6;
  background-image: linear-gradient(
    to right,
    rgba(255, 240, 204, 1),
    rgba(255, 204, 213, 0.5),
    rgba(9, 206, 91, 0)
  );
}
hr.style-three {
  width: 40%;
  margin: 0 auto;
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(161, 8, 84, 0.5),
    rgba(0, 0, 0, 0)
  );
}
h9 {
  background-color: #faf0e1;
}
h8 {
  font-size: 14px;
}
h4 {
  text-align: center;
  color: #6e0000;
}

.toTop-arrow {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #de6878;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.toTop-arrow::before,
.toTop-arrow::after {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.6rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.6rem;
}
.toTop-arrow:focus {
  outline: none;
}
.text {
  padding-top: 20px;
}
.text1 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  height: 250px;
  line-height: 50px;
}
.carousel-inner {
  padding-top: 20px;
}
.video {
  width: 100%;
  margin: auto;
  padding: auto;
}

.card {
  position: absolute;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  background-color: #fff5f5;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}
body {
  background-image: url(https://nancy-0724.github.io/img/bg2.jpg);
  background-size: cover;
}
section#s1 {
  padding-top: 80px;

  background-image: linear-gradient(
    to bottom,
    rgba(249, 242, 255, 1),
    rgba(249, 242, 255, 1),
    rgba(255, 242, 244, 1)
  );
  padding-bottom: 20px;
}
section#s2 {
  padding-top: 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 242, 244, 1),
    rgba(255, 242, 244, 1),
    rgba(250, 240, 225, 1)
  );
  padding-bottom: 20px;
}
section#s3 {
  background-color: #faf0e1;
}
ol {
  margin-left: -30px;
}
.list {
  margin-top: -20px;
  margin-bottom: -15px;
}
.r {
  font-size: 15px;
}
/* 影片自動調整大小區 */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.food button {
  font-size: 15px;
  padding: 3px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foodtext {
  background-color: #b2dbd7;
  border: 2px #ccc solid;
  border-radius: 10px;
}
.col-sm-4 {
  padding: auto;
  margin: auto;
}
.eat {
  font-size: 14px;
  margin: 0px;
}